/* fonts */

.jqcloud {
  font-family: 'Droid Sans';
  font-size: 10px;
  line-height: normal;
}

.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

.jqcloud span.w10 { font-size: 550%; }
.jqcloud span.w9 { font-size: 500%; }
.jqcloud span.w8 { font-size: 450%; }
.jqcloud span.w7 { font-size: 400%; }
.jqcloud span.w6 { font-size: 350%; }
.jqcloud span.w5 { font-size: 300%; }
.jqcloud span.w4 { font-size: 250%; }
.jqcloud span.w3 { font-size: 200%; }
.jqcloud span.w2 { font-size: 150%; }
.jqcloud span.w1 { font-size: 100%; }

/* colors */

.jqcloud { color: #09f; }
.jqcloud a { color: inherit; }
.jqcloud span.w10 { color: #0cf; }
.jqcloud span.w9 { color: #0cf; }
.jqcloud span.w8 { color: #0cf; }
.jqcloud span.w7 { color: #39d; }
.jqcloud span.w6 { color: #90c5f0; }
.jqcloud span.w5 { color: #90a0dd; }
.jqcloud span.w4 { color: #90c5f0; }
.jqcloud span.w3 { color: #a0ddff; }
.jqcloud span.w2 { color: #99ccee; }
.jqcloud span.w1 { color: #aab5f0; }

/* layout */

.jqcloud {
  overflow: hidden;
  position: relative;
}

.jqcloud span { padding: 0; }


#wordChart {
	margin-left: 0px;	
}

#words {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
