<div class="content">
  <div class="heading">
		<!-- passing :origin as services so that the origin is added to the params hash  -->
	  	<h1>Feedback</h1>
	  </div><!-- end heading-->

	<!--<div class="newBox">-->
		<div class="contentBox">
			<%= render 'form' %>
		</div><!--END fBox -->
		<!--</div>END newBox -->


</div><!--END content -->
